
.cover__title{

font-family: 'inter';
font-weight: 900;
color: #e83b3b;
font-size: 96px;
line-height: 1;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}

.cover__subheading{

font-family: 'inter';
font-weight: 400;
font-size: 30px;
color: #0ee7ff;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 64px;
}

.cover-image{
    width: 984px;
    height: 615px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
    padding: 0 148px;
}