.footer{
margin: 92px auto 0;
display: flex;
font-weight: 400;
color: #ffffff;
justify-content: center;
padding-bottom: 24px;
width: 100%;
}

.footer__copyright{
  font-size: 0.875rem;
line-height: 1.14;
}

@media (max-width: 340px) {
  .footer__copyright {
    font-size: 0.875rem;
line-height: 1;
  }
}

