.header{
    padding-top: 34px;
    width: 100%;
    display: flex;
    justify-content: center;
}



.header__logo {
  width: 254.84px;
  height: 68.94px;
}


@media (max-width: 840px) {
  .header__logo {
    width: 254px;
  }
}



@media (max-width: 340px) {
  .header__logo {
    width: 188px;
  }
}
