.header {
 max-width: 984px;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.header__title{
max-width: 720px;
font-weight: 900;
font-size: 6rem;
line-height: 1.04;
margin: 91.06px auto 0px;
}

.header__subtitle{
margin: 32px auto 64px;
max-width: 720px;
font-size: 1.875rem;
line-height: 1.2;
font-weight: 400;
}

.header__image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;

}

@media (max-width: 800px) {
  .header__title {
    margin: 90px 24px 0;
    max-width: 530px;
    font-size: 4.69rem;
    line-height: 1.05;
  }
  .header__subtitle{
    padding: 0px 24px
  }
}

@media (max-width: 530px) {
  .header__title {
    max-width: 288px;
    margin: 50px 16px 0;
    font-size: 2.5rem;
    line-height: 1.1;
    padding: 0 16px;
  }
}

@media (max-width: 530px) {
  .header__subtitle {
    margin: 16px 16px 40px;
    font-size: 1rem;
    line-height: 1.25;
  }
}


