.intro {
  margin: 92px;
  max-width: 840px;
  align-self: start;
 margin-left: clamp(16px, -492px + 50vw, 148px);
}



.intro__title{
margin: 0;
max-width: 830px;
font-weight: 900;
font-size: 3.375rem;
line-height: 1.07;
}

.intro__text_type_quote{
max-width: 738px;
font-weight: 400;
font-size: 1.5rem;
line-height: 1.42;
margin-inline: 0;
}


.intro__text_type_author{
max-width: 732px;
font-size: 1.5rem;
line-height: 1.42;
text-align: end;
}


.intro__text_type_description{
max-width: 722px;
line-height: 1.63;
margin-top: 32px;
}


@media (max-width: 800px){
  .intro{
    margin: 90px 24px 0;
    max-width: 720px;
    align-self: center;
  }
  .intro__title{
    max-width: 707px;
    font-size: 2.8125rem;
    line-height: 1.09;
  }
  .intro__text_type_quote{
    margin-top: 50px;
    max-width: 100%;
  }
}



@media (max-width: 530px) {
  .intro {
   margin: 64px 16px 0;
  }
}

@media (max-width: 530px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.09;
  }
}

@media (max-width: 530px) {
  .intro__text_type_quote {
    margin-top: 40px;
    line-height: 1.25;
  }
}

@media (max-width: 530px) {
  .intro__text_type_author{

    line-height: 1.42;
    margin-top: 10px;
  }
}

@media (max-width: 530px) {
  .intro__text_type_description {
    font-size: 1rem;
    line-height: 1.63;
  }
}
