.intro {
  margin-top: 92px;
}



.intro__top-text{
width: 100%;
max-width: 830px;

font-family: "Inter-black";
font-weight: 900;
font-size: 3.375rem;
color: #ffffff;
line-height: 1.07;
margin: 0 auto;

}

.intro__quote{
    width: 100%;
max-width: 738px;

font-family: "Inter";
font-weight: 400;
font-size: 1.5rem;
color: #ffffff;
line-height: 1.42;
margin: 39.98px auto 0;

}


.intro__quote-cite{
    width: 100%;
max-width: 732px;

font-family: "Inter";
font-weight: 400;
font-size: 1.5rem;
color: #ffffff;
line-height: 1.42;
padding: 1rem;
text-align: right;
margin: 10px auto 0 ;
}


.intro__bottom-text{
    width: 100%;
max-width: 722px;
font-family: "Inter";
font-weight: 400;
font-size: 1rem;
 line-height: 1.63;
color: #ffffff;
margin: 31.99px auto 0;

}

@media (min-width: 900px) {
  .intro {
padding: 0;
    margin-right: 143px;
     margin-left: auto;
  }
}
@media (max-width: 1030px) {
  .intro {
    padding: 0 24px;

  }
}

@media (max-width: 340px) {
  .intro {
    padding: 0 16px
  }
}

@media (max-width: 840px) {
  .intro__top-text {
    font-size: 2.8rem;
    line-height: 1.1;
  }
}

@media (max-width: 340px) {
  .intro__top-text {
    font-size: 2rem;
    line-height: 1.09;
  }
}

@media (max-width: 340px) {
  .intro__quote {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media (max-width: 340px) {
  .intro__quote-cite {
    font-size: 1.5rem;
    line-height: 1.42;
  }
}

@media (max-width: 340px) {
  .intro__bottom-text {
    font-size: 1rem;
    line-height: 1.63;
  }
}
