.lead {
  margin-top: 91.06px;
}


.lead__title{
     width: 100%;
max-width: 720px;
font-family: 'inter-black';
font-weight: 900;
color: #ffffff;
font-size: 6em;
line-height: 1.04;
text-align: center;
margin: auto;

}

.lead__subtitle{
     width: 100%;
max-width: 720px;
font-family: 'inter';
font-weight: 400;
font-size: 1.875rem;
color: #ffffff;
line-height: 1.2;
text-align: center;
margin: 32px auto auto auto;
}

.lead__image-element{
    width: 100%;
    max-width: 984px;
    height: auto;
    margin: 64px auto auto auto;
    display: block;
}

@media (max-width: 840px) {
  .lead {
   padding: 0 24px;
  }
}

@media (max-width: 340px) {
  .lead {
   padding: 0 16px;
  }
}

@media (max-width: 840px) {
  .lead__title {
    font-size: 4.69rem;
    line-height: 1.05;
  }
}

@media (max-width: 340px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

@media (max-width: 340px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 1.25;
  }
}


